
.nav-item{
    color: #222831;
    max-width: 100px;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    padding: 20px;
}
.logo{
    grid-column: 1/2 ;
    justify-self: center;
    align-self: center;
    max-width: 150px;
    padding-right: 20px;
    height: auto;
    display: flex;
    justify-content: center;

}
.nav-bar{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-content: center;
    padding: 20px;
    background-color: #EEEEEE;
}
.home-button{
    grid-column: 2/3;
}
.jogo-button{
    grid-column: 3/4;
}
.contact-button{
    grid-column: 4/5;
}

@media only screen and (max-width: 600px) {
    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #EEEEEE;
    }
  }